.wrapper
  .show
    .show__book
      .show__book__name
      .show__book__image
      .show__book__explain
      .show__book__box
        .show__book__box--like
        .show__book__box--delete
      .show__book__buy